*.iml
.gradle
/local.properties
/.idea
.vs/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab

**/build/
app/src/main/assets/default_settings.json

# Local runtime logs and screenshots
Files/Logs/
